<div class="flex w-full h-screen ">
<div class="w-4/5 h-screen content-center">
  <div class="mx-32 justify-center ">
  <div>
    <img />
  </div>
  <h1>Inicio de sesion</h1>
  <form>
    <div>
      <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
      <div class="mt-2">
        <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>
    <div>
      <div class="flex items-center justify-between">
        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>

      </div>
      <div class="mt-2">
        <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
      <div class="text-sm">
        <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
      </div>
    </div>
    <button>Login</button>
    <p><a>Sing up</a></p>
  </form>
  <div>
    <button></button>
    <button></button>
    <button></button>
  </div>
</div>
</div>
<div class="bg-emerald-950 w-4/5   invisible md:visible">
  <!-- <a href="https://www.freepik.es/vector-gratis/tablero-tareas-scrum-plano-notas-papel-palo-color_26195122.htm#fromView=search&page=1&position=0&uuid=315496ee-4005-4d31-8e50-c73f7b41e0b8">Imagen de redgreystock en Freepik</a> -->
</div>
</div>
